@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, .7)
}

header{
    font-family: 'Pacifico', cursive;
    background: rgb(136, 21, 189);
   
    color: white;
    padding: 8px 20px;
}

.bg-gradient{
    background: #DA22FF;  
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF); 
    background: linear-gradient(to left, #9733EE, #DA22FF); 
}

.container{
    max-width: 1024px;
    margin: auto;
    padding: 20px;
  
}

.row{
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 10px;
}

.hero{
    padding: 20px;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 30px;
}

.hero button{

    padding: 20px;
    margin-top: 25px;
    border-radius: 100px;
    background: transparent;
    color: white;
    outline: none;
    transition: .25s background ease-in-out;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

}
.hero button:hover{
    background-color: rgb(23, 231, 197); 
    color: white;
}

.hero button:disabled{
    background: rgba(255, 255, 255, .7)
}

#jokes-list{
    list-style: none;
    padding: 0;
    
   
}
 #content{
    margin: 20px;
    padding: 20px;
}
 li{
     border: 1px solid #DA22FF;
     border-radius: 15px;
    padding : 20px;
    margin : 20px;
    padding-bottom: 50px;
}
#reaction img{
    width: 380px;
    
    
}
#status-container{
    width: 380px;
    
}
img {
    
    display: block;
margin-left: auto;
margin-right: auto;
width: 100%;

  } 

h4{
    
     
    font-size: 30px;
    margin: 20px;
    padding : 20px;
    
}
h2{
    padding:20px;
}
#status{
   
    border: 1px solid #DA22FF;
    border-radius: 15px;
   padding : 20px;
   margin : 20px;
}
#status h3{
    
}
.row{
   

}
.jokes-list-container{
   text-align: center;
}
  
.image{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.content{
    margin:30px;
}
#status-container img{
    text-align: center;
    width: 150px;
    height: 70%;
    
    display: block;

}

  .lastmes{
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, .7);
    padding:20px;
    font-weight: bold;
  }

